// adide-tags
.ss-aside-tags {

  .tag-list {
    display: flex;
    flex-wrap: wrap;
  
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tag {
    font-size: 12px;
    color: $text-color-tag;
    background-color: rgba($background-color-tag, .5);
    padding: 5px 8px;
    margin: 0 8px 6px 0;
    border-radius: 4px;

    &:hover {
      color: $text-color-hover;
      background-color: rgba($text-color-hover, .1);
    }
  }
}

// adide-related & aside-category
.ss-aside-related {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style: none;

  >li {
    margin-bottom: 14px;
    font-size: 14px;
    color: $text-color-secondary;

    &:hover {
      color: $text-color-hover;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// adide-code
.ss-aside-code {
  max-width: 300px;

  .button {
    display: inline-block;
    color: $text-color;
    background-color: $button-background;
    border: 1px solid $button-border-color;
    border-radius: 4px;
    outline: none;

    font-size: 14px;
    text-align: center;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;

    &.download {
      width: 100%;
      height: 36px;
      line-height: 36px;
      border: none;
      color: $text-color-dark;
      background-color: $button-border-color-selected;
    }

    &.-selected {
      color: $button-border-color-selected;
      background-color: $button-background-selected;
      border-color: $button-border-color-selected;
    }
  }

  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input {
      border: 1px solid $button-border-color;
      border-radius: 4px 0 0 4px;
      outline: none;


      font-size: 14px;
      flex-grow: 1;
      margin: 16px 0;
      padding: 0 12px;
      height: 32px;
    }

    .addon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 1px solid $button-border-color;
      border-left: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;

      .copy {
        display: block;
      }
      .tick {
        display: none;
      }

      &.-copyed {
        .copy {
          display: none;
        }
        .tick {
          display: block;
        }
      }
    }

    .icon {
      width: 20px;
      font-size: 14px;
      color: #8c8c8c;
    }
  }


  .button-group {
    display: flex;

    .button {
      width: 100%;
      border-radius: 0;
    }

    .button:first-child {
      position: relative;
      border-radius: 4px 0 0 4px;
    }

    .button:last-child {
      position: relative;
      left: -1px;
      border-radius: 0 4px 4px 0;
    }

    .-selected {
      z-index: 10;
    }
  }
}

// adide-project
.ss-aside-project {
  .link {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: $text-color-link;
    cursor: pointer;
  }
}

.ss-aside-toc {

  #TableOfContents > ul,
  #TableOfContents > ul > li > ul {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 8px;
  }

  a {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}