.ss-pagination {
  margin-top: 24px auto;
  padding-top: 20px;
  border-top: 1px solid $card-border-color;

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 2em;
    height: 2em;
    margin: .25em;

    color: $text-color-secondary;
    cursor: pointer;

    &.-active {
      color: $text-color-dark;
      background-color: $text-color-hover;
      border-radius: 50%;
    }
  }
}

.ss-pagination-next {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 24px 0;
  padding: 20px 0;
  border-top: 1px solid $card-border-color;

  @include mobile {
    border-bottom: 1px solid $card-border-color;
  }

  .link-prev,
  .link-next {
    cursor: pointer;
  }

  .link-prev {
    @include mobile {
      margin-bottom: 12px;
    }
  }

  // .link-next {

  // }

  .text {
    font-size: 14px;
  }
}
