{{ define "title" }}
	{{ $url := path.Base .File.Dir }}
	{{ if ne $url "." }}
		{{ i18n (printf "title_%s" $url) }} · {{ .Site.Title }}
	{{ else }}
		{{ .Site.Title }}
	{{ end }}
{{ end }}

{{ define "main" }}

<div class="home-background -no-max-width">
	<img src="{{ (resources.Get "/img/cover-light.jpg").RelPermalink }}" />
</div>

<div class="ss-layout-container">
	<main class="ss-layout-main">
		{{ range .Paginator.Pages }}
			{{ partial "post/summary" . }}
		{{ end }}

		{{ partial "pagination/pagination" . }}
	</main>

	<aside class="ss-layout-aside">
		<!-- {{ partial "aside/categories" . }} -->
		{{ partial "aside/related" . }}
		{{ partial "aside/tags" . }}
	</aside>
</div>

{{ end }}