.ss-summary {
  padding: 24px 0;
  border-bottom: 1px solid $card-border-color;
  display: flex;
  align-items: flex-start;
  width: 100%;

  &:last-of-type {
    border: none;
  }

  .cover {
    width: 200px;
    max-width: 100%;
    margin-right: 24px;

    @include mobile {
      width: 110px;
      margin-right: 12px;
    }
  }

  .container {
    flex: 1;
    overflow: hidden;
  }

  .title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    color: $text-color-link;

    @include mobile {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .meta {
    font-size: 12px;
    color: $text-color-secondary;
  }

  .summary {
    margin: 12px 0;
    font-size: 14px;
    color: $text-color;
    // 多行截断
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .tags {
    font-size: 12px;
    color: $text-color-secondary;
  }

  .tag {
    margin-right: 14px;
  }
}
