<div class="ss-card">
	<h2 class="card-title">
		{{ i18n "aside_get_the_code" }}
	</h2>
	<div id="js-code" class="ss-aside-code">
		<div class="button-group">
			<button class="button">HTTPS</button>
			<button class="button">SSH</button>
		</div>
		<div class="input-group">
			<input class="input" value="{{ .Params.github }}" spellcheck="false" />
			<span class="addon">
				<svg class="icon copy" aria-hidden="true"><use xlink:href="#icon-copy"></use></svg>
				<svg class="icon tick" aria-hidden="true"><use xlink:href="#icon-ictick"></use></svg>
			</span>
		</div>
		<a class="button download"
			href="{{ printf "%s/archive/master.zip" .Params.github }}"
		>{{ i18n "aside_download" }}</a>
	</div>
</div>