/lkvm
/lkvm-static
/vm
/libvmm.so
/libvmm.a
/vmm_main
*.o
*.d
*.swp
/cscope.*
tags
tests/boot/boot_test.iso
tests/boot/rootfs/
guest/init
guest/pre_init
guest/init_stage2
KVMTOOLS-VERSION-FILE
/x86/bios/bios.bin
/x86/bios/bios.bin.elf
