/*#js-home-animation {
  position: relative;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  z-index: 100;
  max-width: $content-max-width;

  @include mobile {
    justify-content: center;
  }

  svg {
    overflow: visible;
  }

  #debris1 {
    position: absolute;
    right: 400px;
  }

  #debris2 {
    position: absolute;
    top: 200px;
    right: 500px;
  }

  #debris3 {
    position: absolute;
    // top: 400px;
    right: 0px;
  }

  // #box {
  //   // position: absolute;
  //   // right: 0;
  // }
}
*/
#js-arch-animation {
  // position: absolute;
  // left: 0;
  // right: 0;
  // height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  svg {
    overflow: visible;
  }
}

.home-background {
  position: absolute;
  top: 64px;
  width: 100%;
  z-index: -3;
  overflow: hidden;

  &.-no-max-width {
    >img {
      max-width: 100000px;
    }
  }

  >img {
    display: block;
    width: 100%;
    max-width: $content-max-width + 300;
    min-width: 470px;
    margin: 0 auto;
    z-index: -2;
  }

  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(#3399EB, .05), rgba(#3399EB, 0));
  }
}

.home-container {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: $content-max-width;
  padding: 0 24px;
}

.home-description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: $text-color-secondary;
}

.home-button {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: $text-color-dark;
  background-color: #2274de;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;

  &.-outline {
    color: #2274de;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 1px solid #2274de;
    box-shadow: none;
  }

  &.-shadow {
    box-shadow: 0 4px 16px 0 rgba(24, 144, 255, 0.30);
  }
}

.slogan {
  margin: 48px 0;

  .slogan-title {
    font-size: 48px;
    font-weight: 500;
    margin: 12px 0;

    @include mobile {
      font-size: 40px;
      text-align: center;
    }
  }

  .slogan-description {
    width: 55%;

    @include mobile {
      width: 100%;
    }

    font-size: 18px;
    color: $text-color-secondary;
  }

  .button-groups {
    display: flex;
    margin: 24px 0;

    @include mobile {
      width: 100%;
      margin: 24px auto;
    }
  }

  .home-button {
    width: 172px;
    height: 56px;
    line-height: 56px;
    font-size: 20px;

    &:last-child {
      margin-left: 24px;
    }
  }

  .feature {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column
    }
  }

  .feature-container {
    width: 32%;

    @include mobile {
      width: 100%;
      padding: 30px 24px;
    }

    padding: 60px 32px;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(#fff, .9);
    box-shadow: 0 4px 16px 0 rgba(190, 197, 203, 0.30);

    >img {
      height: 100px;
    }
  }

  .feature-title {
    font-size: 24px;
    font-weight: 450;
    margin: 24px 0;
  }
}

.charpter-description {
  margin: 5vh 0;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // margin: 5vh 0;
    padding: 32px 0;
  }

  .description-container {
    width: 100%;
    margin-bottom: 40px;

    @include mobile {
      width: 100%;
    }

    .home-description {
      line-height: 28px;
      margin-bottom: 20px;
    }
  }

  .title {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 450;
    font-family: Alibaba-PuHuiTi-M;
    font-size: 32px;
    color: #010008;
    letter-spacing: 0;
  }

  .img-container {
    width: 100%;
    //display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; 
    // text-align: center;

    @include mobile {
      width: 100%;
      >img {
        margin-top: 32px;
      }
    }

    >img {
      max-width: 100%;
    }
  }

  .intro-table {
    .row {
      cursor: pointer;

      .col-1,
      .col-2 {
        padding: 16px;
        text-align: center;
        border: 1px solid $button-border-color;
      }

      .col-1 {
        width: 36%;
        font-size: 16px;
        font-weight: 400;
        border-left: none;
        background-color: #f8f8f8;
      }

      .col-2 {
        @extend .home-description;
        text-align: left;
        font-size: 13px;
        border-right: none;
        line-height: 20px;
      }

      &.-selected {
        .col-1 {
          color: #000;
          background-color: #e7e8e8;
        }

        .col-2 {
          background-color: #f8f8f8;
        }
      }

      &:hover {
        .col-1 {
          color: #fff;
          background-color: #4990f0;
          transform: scale(1.1, 1.05);
          box-shadow: 0 4px 16px 0 rgba(24, 144, 255, 0.30);
        }

        .col-2 {
          background-color: #e2ecfa;
        }
      }
    }
  }
}

.subscription {
  background-color: #2b323a;
  padding: 50px 0;

  h2 {
    margin: 0 24px;
    text-align: center;
    color: $text-color-dark;
    font-size: 24px;
    line-height: 1.2;
  }

  .email {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >input {
      width: 500px;
      height: 40px;
      margin-right: 8px;
      padding: 2px 8px;
      border: none;
      border-radius: 2px;
      outline: none;

      @include mobile {
        margin: 12px;
      }
    }

    .home-button {
      border-radius: 2px;
    }
  }
}

.ss-back-legacy {
  position: fixed;
  right: 0;
  bottom: 20%;

  display: flex;
  justify-content: center;
  justify-items: center;
  // fix bug in ios
  width: 24px;
  padding: 8px 4px 6px 6px;
  border-radius: 4px 0 0 4px;
  background-color: #f7f7f7;

  .text {
    display: block;
    writing-mode: vertical-rl;
    // text-orientation: upright;
    text-align: center;
    font-size: 18px;
    letter-spacing: 4px;
    color: $text-color-secondary;
  }

  .english {
    letter-spacing: 0;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}
// 改版新增
@media screen and (max-width: 568px) {
    .img-container .in-container img,.img-container .in-container p {
        width: 100%!important;
        padding:10px 0!important;;
    }
    .in-container div{
        width: 100%!important;
    }
}
.in-container{
    display: flex;
    justify-content: space-around; 
    flex-wrap:wrap;
    padding:30px 20px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}
.in-container-description{
    width: 45%;
    font-family: AlibabaPuHuiTiR;
    padding: 10px 20px 0 30px;
    font-size: 16px;
    color: #3D3D3D;
    letter-spacing: 0;
    line-height: 30px;
}
.in-container-table{
    padding: 0;
    width: 40%;
    
    table{
        border: solid 1px #DEDEDE;

        th{
            width:30%;
            font-family: Alibaba-PuHuiTi-M;
            font-size: 16px;
            color: #010008;
            letter-spacing: 0;
        }

        td{
            line-height: 26px;
            padding: 10px!important;
            color: #3D3D3D;
        }
    }
}

.current-state-block{
    overflow: hidden;
    margin-bottom: 20px;

    div:nth-child(1){
        float: left; 
        width: 58px;
        height: 58px;
        line-height: 58px;
        background: #418FF4;
        font-family: Alibaba-PuHuiTi-M;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
    }

    div:nth-child(2){
        padding: 18px 50px 18px 80px; 
        background-image: linear-gradient(90deg, #EBEFF4 5%, rgba(255,255,255,0.00) 100%);
        font-family: AlibabaPuHuiTiR;
        font-size: 16px;
        color: #3D3D3D;
        letter-spacing: 0;
    }

}