{{ define "title" }}
	{{ $langData := index .Site.Data .Site.Language.Lang }}
	{{ $data := $langData.home }}

	{{ .Site.Title }} · {{ $data.slogan.title }}
{{ end }}

{{ define "main" }}

{{ $langData := index .Site.Data .Site.Language.Lang }}
{{ $data := $langData.home }}

{{ partial "back_legacy" . }}
<script src="{{ (resources.Get "js/jquery.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/jquery.SuperSlide2.1.2.js").RelPermalink }}"></script>
<script>
    $(function() {
		jQuery(".event_box").slide({ titCell: ".parHd li", mainCell: ".parBd", defaultPlay: false,  prevCell: ".sPrev", nextCell: ".sNext" });
		jQuery(".parHd").slide({ mainCell: " ul", vis: 6, effect: "leftLoop", defaultPlay: false, prevCell: ".sPrev", nextCell: ".sNext" });
	});
    //根据浏览器语言自动切换主页面
    console.log(navigator.language,navigator.browserLanguage)
    var language = navigator.appName == 'Netscape'?navigator.language:navigator.browserLanguage;
    if(language.indexOf('en') > -1) {  //浏览器语言为english时，自动切换
        if(localStorage.getItem("isJudgment") == 1){
            re()
        }else{
            document.location.href = '/en/';
            localStorage.setItem("isJudgment",1)
        }
    }else{ //浏览器语言为chinese,不自动切换
        // if(localStorage.getItem("isJudgment") == 1){
        //     re()
        // }else{
        //     document.location.href = '/';
        //     localStorage.setItem("isJudgment",1)
        // }
    }
    function re(){
        localStorage.removeItem("isJudgment")
        return
    }
    
</script>
<div class="home-background -no-max-width">
	 <img src="{{ (resources.Get "/img/home/3d.gif").RelPermalink }}" />
    <!--<div id="js-home-animation"></div> -->
	<!-- <div class="gradient"></div> 
    <img src="/img/cover-light.jpg" height="2500" width="300"> -->
</div>

<div class="slogan">
	<div class="home-container">
        <h1 class="slogan-title">{{ $data.slogan.title }}</h1>
		<p class="slogan-description">
			{{ $data.slogan.description }}
		</p>

		<div class="button-groups">
			<a class="home-button -shadow" href="{{ $data.slogan.quick_start_link }}">{{ $data.slogan.quick_start_text }}</a>
			<a class="home-button -outline" href="{{ $data.slogan.github_link }}">GitHub</a>
		</div>

		<div class="feature">
			{{ range $data.feature }}

			<div class="feature-container">
				<img class="img" src="{{ (resources.Get .img).RelPermalink }}" />
				<h2 class="feature-title">{{ .title }}</h2>
				<p class="home-description">
					{{ .description }}
				</p>
			</div>
			{{ end }}
		</div>
	</div>
</div>

<div class="charpter-description">
	<div class="home-container">
		{{ range $i,$d := $data.charpter_description }}
			<div class="container">
                <div class="description-container">
					<h3 class="title">{{ $d.title }} </h3>
					
                </div>
                <div class="img-container">
                    <div class="in-container">
                        <div style="width: 50%;">
                            <img {{if isset $d "img_width"}}style="width:{{$d.img_width}};height:auto"{{end}}
                                src="{{ (resources.Get $d.img).RelPermalink }}" >
                        </div>
                        <p class="home-description in-container-description">
                            {{ $d.description }}
                        </p>
                    </div>
                </div>
			</div>
		{{ end }}
        {{ range $i,$d := $data.charpter_description_2 }}
            <div class="container">
                <div class="description-container">
                    <h3 class="title">{{ $d.title }} </h3>
                    <p class="home-description">
                        {{ $d.description }}
                    </p>
                </div>

                <div class="img-container">
                    <img {{if isset $d "img_width"}}style="width:{{$d.img_width}};height:auto"{{end}}
                        src="{{ (resources.Get $d.img).RelPermalink }}"
                    >
                </div>
            </div>
        {{ end }}
        {{ range $i,$d := $data.charpter_description_3 }}
            <div class="container">
                <div class="description-container">
                    <h3 class="title">{{ $d.title }} </h3>
                    <p class="home-description">
                        {{ $d.description }}
                    </p>
                </div>

                <div class="img-container">
                    <img {{if isset $d "img_width"}}style="width:{{$d.img_width}};height:auto"{{end}}
                        src="{{ (resources.Get $d.img).RelPermalink }}"
                    >

                </div>
            </div>
        {{ end }}
        <!-- 新增 -->
        {{ range $i,$d := $data.charpter_description_4 }}
            <div class="container">
                <div class="description-container">
                    <h3 class="title">{{ $d.title }} </h3>
                </div>
                <div class="img-container">
                    <div class="in-container">
                        <div style="width: 58%;">
                            <img {{if isset $d "img_width"}}style="width:{{$d.img_width}};height:auto"{{end}}
                            src="{{ (resources.Get $d.img).RelPermalink }}"
                        >
                        </div>
                        
                        <div class="in-container-description in-container-table">
                            <table border="1" bgcolor="#F2F2F2">
                                {{ range $i,$d := $data.description4_table }}
                                <tr>
                                  <th>{{ $d.name }}</th>
                                  <td height="78px">{{ $d.description }}</td>
                                </tr>
                                {{end}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
        <!-- 起源和历史 -->
        {{ range $i,$d := $data.charpter_description_7 }}
        <div class="container">
            <div class="description-container">
                <h3 class="title">{{ $d.title }} </h3>
            </div>
            <div class="img-container">
                <div class="event_box">
                    <div class="space_div">
                        <p class="left_space"></p>
                        <p class="right_space"></p>
                    </div>
                    <div class="parHd clearfix">
                        <ul>
                            {{ range $i,$d := $data.charpter_description_7_content}}
                            <li style="width:175px">
                                <div class="description {{$d.class}}" {{if isset $d "bottom"}}style="bottom: {{$d.bottom}}"{{end}} 
                                {{if isset $d "top"}}style="top: {{$d.top}}"{{end}}>
                                    <div class="desc-title">{{$d.title}}</div>
                                    {{if isset $d "description"}}{{$d.description}}{{end}}<br>
                                    {{if isset $d "description_1"}}{{$d.description_1}}{{end}}<br>
                                    {{if isset $d "description_2"}}{{$d.description_2}}{{end}}<br>
                                    {{if isset $d "description_3"}}{{$d.description_3}}{{end}}
                                    {{if isset $d "description_4"}}{{$d.description_4}}{{end}}
                                </div>
                                <span></span> 
                                <div class="tip {{$d.triangle}}" {{if isset $d "triangle_position"}}style="position: absolute;top: -105px;left: 5px;"
                                {{else}}style="position: absolute;top: 0px;left: 5px;"
                                {{end}} >
                                    <p style="color: #000000;">{{$d.time}}</p>
                                    <div class="arrow {{$d.triangle}}"></div>
                                </div>
                            </li> 
                            {{end}}
                            <li></li>
                        </ul>
                        <a class="sPrev"><img src="{{ (resources.Get "/img/left.png").RelPermalink }}" /></a>
                        <a class="sNext"><img src="{{ (resources.Get "/img/right.png").RelPermalink }}" /></a>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
        {{ range $i,$d := $data.charpter_description_5 }}
            <div class="container">
                <div class="description-container">
                    <h3 class="title">{{ $d.title }} </h3>
                </div>
                <div class="img-container">
                    {{ range $i,$d := $data.Current_state }}
                    <div class="current-state-block">
                        <div>{{$d.number}}</div>
                        <div> {{ $d.description }}</div>
                    </div>
                    {{end}}
                </div>
            </div>
        {{ end }}
        {{ range $i,$d := $data.charpter_description_6 }}
            <div class="container">
                <div class="description-container">
                    <h3 class="title">{{ $d.title }} </h3>
                </div>
                <div class="img-container">
                    <div>
                        <img {{if isset $d "img_width"}}style="width:{{$d.img_width}};height:auto"{{end}}
                        src="{{ (resources.Get $d.img).RelPermalink }}"
                    >
                    </div>
                </div>
            </div>
        {{ end }}
	</div>
</div>

{{ if .Site.Params.homeSubscription.enable }}
	<div class="subscription">
		<div class="home-container">
			<h2>{{ $data.subscription.title }}</h2>
			<div class="email">
				<input placeholder="Email address" type="email" />
				<button class="home-button">{{ $data.subscription.button }}</button>
			</div>
		</div>
	</div>
{{ end }}

{{ end }}
