.ss-layout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px auto;

  width: 100%;
  max-width: $content-max-width;
  min-height: 70vh;

  @include tablet {
    flex-direction: column;
    align-items: stretch;
  }
}

.ss-layout-main {
  width: 75%;
  padding: 0 24px;

  @include tablet {
    width: 100%;
  }

  &.-noaside {
    width: 100%;
  }

  &.-card {
    padding: 24px;
  }
}

.ss-layout-aside {
  width: 25%;
  min-width: 20%;

  @include tablet {
    width: 100%;
    margin-top: 20px;

    &.-left {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .ss-card {
    margin: 0 24px;
    padding: 24px 0;
    border-bottom: 1px solid $card-border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  @include mobile {
    &.-soft-hidden {
      margin: 0 !important;
      padding: 0 !important;
      width: 0 !important;
      height: 0 !important;
      overflow: hidden !important;
    }
  }
}

.ss-card {
  padding: 24px;

  .card-title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 20px;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .card-extra {
      color: $text-color-link;
      font-size: 12px;
      cursor: pointer;
    }
  }

  &.-bg-opacity {
    background-color: rgba($color: #fff, $alpha: 0.7);
    border: 1px solid $card-border-color;
  }
}
