// overlay
.js-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  color: white;
  text-align: center;
  z-index: $z-index-overlay;
  opacity: 0;
  transition: opacity .3s cubic-bezier(.78, .14, .15, .86);

  &.-show {
    visibility: visible;
    opacity: 1;
  }
}

.-noscroll {
  position: fixed;
  left: 0;
  right: 0;
  overflow-y: hidden;
}
