{{ $langData := index .Site.Data .Site.Language.Lang}}
{{ $data := $langData.footer }}

<footer class="ss-footer">
	<div class="container">
		<div class="links">
			{{ range $data.links }}
				<div class="cate">
					<h2 class="cate-title">{{ .category }}</h2>
					{{ range .link_arr  }}
						<a class="link" href="{{ index . 1 }}">{{ index . 0 }}</a>
					{{ end }}
				</div>
			{{ end }}
		</div>
		<div class="qrcode">
			{{ range $data.qrcode }}
				<div>
					<img class="qrcode-img" src="{{ .img | relURL }}" />
					<p class="qrcode-desc">{{ .description }}</p>
				</div>
			{{ end }}
		</div>
	</div>
	<div class="copyright">
		<p>
			2020 - 2021 版权所有 © Inclavare Containers
		</p>
	</div>
</footer>
